<div class="row">
    <div class="col-3">
        <div class="col-3 leftside " style="width: 20vw;">
            <div class="btn btn-group border-0 d-flex flex-column m-2">
                <a class="btn btn-primary rounded mt-4" routerLink="/manager">Manager</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/employee">Employee</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/customer">Customer</a>
            </div>
    </div>
    </div>
    <div class="col-8">
<form #getForm="ngForm" (ngSubmit)="post(getForm.value)">
    <div class="container m-3">
        <mat-card style="background-color: wheat;">
            <mat-card-content>
                <div class="form-group">
                    <div class="d-flex">
                    <div class="form-floating m-2  col-md-4">
                        <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required >
                        <label for="name" >First name</label>
                    </div>
                    <div class="form-floating m-2  col-md-4">
                        <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required>
                        <label for="name"  >Last name</label>
                    </div></div>
                    
                    <div class="col-md-4 m-2 date">
                        <input class="form-control col-md-2" type="date" name="dob" min="1970-04-28" max="2005-04-28" [(ngModel)]="date" (input)="convert()"  />       
                        <p class="form-control date mt-3" name="date" ngModel required>Age:{{result}}</p>    
                    </div>
                    <div>
                        <label for="">Select Your Experience</label>
                        <mat-slider min="1" max="50" step="1" style="width: 50%;" showTickMarks discrete [displayWith]="formatLabel">
                            <input matSliderThumb name="experience" ngModel required>
                        </mat-slider>
                    </div>
                    <div>
                        <mat-radio-group aria-label="Select an option" name="gender" ngModel required>
                            <mat-radio-button value="male" type="input">Male</mat-radio-button>
                            <mat-radio-button value="female" name="gender" ngModel required>Female</mat-radio-button>
                            
                          </mat-radio-group>                          
                    </div>                    
                </div>
                <button mat-raised-button color="accent" type="submit" style="margin-left: 30%;" (click)="onPopup() " >Save</button>
                
            </mat-card-content>
        </mat-card>
    </div>
</form>
<mat-card class=" ms-4 rounded" style="background-color: wheat;">
<mat-card-content class="ms-5" style="border-radius: 5px;">
    <button mat-raised-button color="accent" (click)="onShow()" style="margin-left: 10%;" >Fetch</button>
    <button mat-raised-button color="accent" (click)="onDelete()" style="margin-left: 10%;">Clear</button>
    <button mat-raised-button color="accent"  style="margin-left: 10%;" >Generate</button>
</mat-card-content>

</mat-card>
<mat-card class="row d-flex flex-row" style="margin-left: 3%;margin-top: 5%; background-color: rgba(0, 255, 255, 0.052);" >
    <mat-card-content class="col-8 m-3 p-0 rounded" style=" background-color: aqua; height: auto;">
        <div>
            {{show|json }}
        </div>
    </mat-card-content>
</mat-card>
<!-- <div>
    {{show | json}}
</div>| -->
</div>