<p>main works!</p>
    <form class="example-form d-flex">
        <div class="row mt-3">
            <div class="col-3 rightside" style="width: 20vw;">
                    <div class="btn btn-group d-flex flex-column m-2" style="border-color: rgb(240, 248, 255);">
                        <a class="btn btn-primary rounded mt-4" routerLink="/manager">Manager</a>
                        <a class="btn btn-primary rounded mt-4" routerLink="/employee">Employee</a>
                        <a class="btn btn-primary rounded mt-4" routerLink="/customer">Customer</a>
                    </div>
            </div>
            
            
        </div>
    </form>