<div class="row ">
    <div class="col-3 ">
        <div class="col-3 leftside" style="width: 20vw;">
            <div class="btn btn-group d-flex flex-column m-2 border-0">
                <a class="btn btn-primary rounded mt-4" routerLink="/manager">Manager</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/employee">Employee</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/customer">Customer</a>
            </div>
    </div>
    </div>
    <div class="col-8 ">
        <form #getForm="ngForm" (ngSubmit)="post(getForm.value)">
            <div class="container m-3 ">
                <mat-card class="mb-2" style="background-color: wheat;">
                    <mat-card-content>
                          <div class="form-group">
                            <div class="d-flex ">
                            <div class="form-floating m-2  col-md-4">
                                <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required>
                                <label for="name" >First name</label>
                            </div>
                            <div class="form-floating m-2  col-md-4">
                                <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required>
                                <label for="name"  >Last name</label>
                            </div></div>
                            <div class="col-md-4 m-2 date">
                                <input class="form-control col-md-2" type="date" name="dob" min="1970-04-28" max="2005-04-28" [(ngModel)]="date" (input)="convert()"  />       
                                <p class="form-control date mt-3"  ngModel required>Age:{{result}}</p>    
                            </div>
                            <div>
                                <label class="m-2" >About</label>
                                <textarea class="form-control m-2" style="height: 30vh; width: 95%;" name="about" ngModel required></textarea>
                            </div>
                        </div>
                        <button mat-raised-button color="accent" type="submit" style="margin-left: 40%;" [style.submit]="add" (click)="openDialog()">Save</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
        <mat-card class=" ms-4 rounded" style="background-color: wheat; border-radius: 5px;">
            <mat-card-content class="ms-5" style="border-radius: 5px;">
                <button mat-raised-button color="accent" (click)="onShow()" (click)="onget()" style="margin-left: 20%;" >Fetch</button>
                <button mat-raised-button color="accent" (click)="onDelete()" style="margin-left: 20%;">Clear</button>
            </mat-card-content>
        </mat-card>
            
        <!-- <label for="">{{show | json}} </label> -->
    </div>
</div>
<div [style.visibility]="false">
    <mat-card class="row d-flex flex-row" style=" background-color: rgba(0, 255, 255, 0.052);" >
        <mat-card-content class="col-4 m-2 p-0 rounded" style=" background-color: aqua; height: auto;">
            <div>
                {{role|json }}
            </div>
        </mat-card-content>
        <mat-card-content class="col-7 m-2 p-0 rounded" style=" background-color: aqua; height: auto;">
            <div>
                {{show|json }}
            </div>
        </mat-card-content>
    </mat-card>
</div>