<p>dialog-box works!</p>

<p>dialog-box works!</p>
<h3 mat-dialog-title>Verificatioin </h3>
<div mat-dialog-content> 
    Are you want to Continue 

    <div>
        <button class="me-5" mat-raised-button mat-dialog-close (click)="onclick()" >Yes</button>
        <button class="ms-5" mat-raised-button mat-dialog-close>No</button>
    </div>
</div>