/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background-image: url(https://cdn.pixabay.com/photo/2017/10/10/21/47/laptop-2838921_1280.jpg);
}