<div class="row">
    <div class="col-3">
        <div class="col-3 leftside" style="width: 20vw;">
            <div class="btn btn-group d-flex flex-column m-2 border-0" style="border-color: none;">
                <a class="btn btn-primary rounded mt-4" routerLink="/manager">Manager</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/employee">Employee</a>
                <a class="btn btn-primary rounded mt-4" routerLink="/customer">Customer</a>
            </div>
    </div>
    </div>
    <div class="col-8   ">
<form #getForm="ngForm"  (ngSubmit)="post(getForm.value)" >
    <div class="container mt-3">
        <mat-card class="mb-3" style="background-color: wheat;">
            <mat-card-content>
                <div class="form-group">
                    <div class="d-flex">
                    <div class="form-floating m-2  col-md-4">
                        <input class="form-control" type="text" placeholder="First name" name="firstname" ngModel required>
                        <label for="name" >First name</label>
                    </div>
                    <div class="form-floating m-2  col-md-4">
                        <input class="form-control" type="text" placeholder="Last name" name="lastname" ngModel required>
                        <label for="name"  >Last name</label>
                    </div></div>
                    <div class="col-md-4 m-2    ">
                        <input class="form-control col-md-2" type="date" name="dob" min="1970-04-28" max="2005-04-28" [(ngModel)]="date" (input)="convert()"  />       
                        <p class="form-control date mt-3" name="date" ngModel required>Age:{{result}}</p>
                    </div>
                    <div>
                        <label class="m-2">About</label>
                        <textarea class="form-control m-2" style="height: 30vh; width: 95%;"></textarea>
                    </div>
    
                </div>
                <button mat-raised-button color="accent" type="submit" style="margin-left: 10%;" (click)="openDialog()">Save</button>
                <button mat-raised-button color="accent" (click)="onShow()" style="margin-left: 10%;">Fetch</button>
                <button mat-raised-button color="accent" (click)="onDelete()" style="margin-left: 10%;">Clear</button>
                <button mat-raised-button color="accent" type="submit" style="margin-left: 10%;">Generate</button>
            </mat-card-content>
        </mat-card>
    </div>
</form>
<label for="">{{show | json}} </label>
</div>
