<body class="main">
    <form class="needs-validation" novalidate>
        <div class="d-flex justify-content-center" >
            <mat-card class="mt-5"  style="background-color: rgba(0, 255, 255, 0.246);max-width: fit-content; ">
                <mat-card-content class="col-2 m-3 p-2" style="margin-left: 50%;">
                    <table>
                            <div class="form-floating   col-md-6" style="width: 40vw;">
                            <input class="form-control" type="text" placeholder="First name" name="firstname" required>
                            <label for="name" >Enter Your UserId</label>
                        </div>
                        <div class="form-floating mt-4 col-md-6" style="width: 40vw;">
                            <input class="form-control" type="email" placeholder="Last name" name="lastname" required>
                            <label for="name"  >Enter Your password</label>
                        </div>

                        </table>
                    <div >
                        <button class="mt-3" mat-raised-button color="accent" type="submit" routerLink="/manager" style="margin-left: 300%;">Save</button>
                    </div>
                </mat-card-content>
              </mat-card>
        </div>
    </form>
</body>